<html>
<head>
    <title>GraphQL Demo</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>

    <script>
        $(document).ready(function() {
            $.getJSON("/api/graphql?query={events{id,name,description}}")
                .then(function(response) {
                    //TODO: check errors

                    var data = response.data;
                    var events = data.events;

                    for (var i = 0; i < events.length; i++) {
                        var eventUrl = "/event?event=" + JSON.stringify(events[i]);

                        $.get(eventUrl).then(function(response) {
                            $("#content").append(response);
                        });
                    }
                });
        });
    </script>

    <style>
        body {
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1>GraphQL Demo</h1>

    <div id="content">
    </div>
</body>
</html>