<html>
<head>
    <title>Create Festival</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/network.js"></script>

    <script>
        $(document).ready(function() {
            $("#submit").click(function() {
                var data = {
                    name: $("#name").val(),
                    description: $("#description").val()
                };

                createFestival(data).then(function(response) {
                    window.location.href = "/festival?id=" + response.data.createFestival.id;
                });
            });
        });
    </script>

    <style>
        body {
            padding: 10px;
        }
        #title {
            margin-bottom: 50px;
        }
        .form-group {
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
    <h1 id="title" class="text-center">Create Festival</h1>

    <form id="createForm" class="col-xs-12 col-md-6 col-md-offset-3" method="POST">
        <div class="form-group col-md-8 col-md-offset-2">
            <input id="name" name="name" type="text" class="form-control" placeholder="Name" required>
        </div>
        <div class="form-group col-md-12">
            <textarea id="description" name="description" class="form-control" placeholder="Description" rows="6" required></textarea>
        </div>

        <div class="form-group col-md-6 col-md-offset-3">
            <button id="submit" type="button" class="btn btn-primary btn-block">Submit</button>
        </div>
    </form>
</body>
</html>