<html>
<head>
    <title>Create Event</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/network.js"></script>

    <script>
        $(document).ready(function() {
            var timeoutId = null;

            $("#submit").click(function() {
                var data = {
                    name: $("#name").val(),
                    description: $("#description").val()
                };

                createFestival(data).then(function(response) {
                    window.location.href = "/festival?id=" + response.data.createFestival.id;
                });
            });

            $("#artist").keyup(function(e) {
                if (timeoutId != null) {
                    window.clearTimeout(timeoutId);
                }

                timeoutId = window.setTimeout(function() {
                    var name = $("#artist").val();
                    timeoutId = null;

                    artistSearch(name).then(function(response) {
                        var artists = response.data.artistSearch;

                        for (var i = 0; i < artists.length; i++) {
                            var artist = artists[i];
                            console.log(artist.name);
                        }
                    });
                }, 300);

            });
        });
    </script>

    <style>
        body {
            padding: 10px;
        }
        #title {
            margin-bottom: 50px;
        }
        .form-group {
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
    <h1 id="title" class="text-center">Create Event</h1>

    <form id="createForm" class="col-xs-12 col-md-6 col-md-offset-3" method="POST">
        <div class="form-group col-md-8 col-md-offset-2">
            <input id="artist" name="artist" type="text" class="form-control" placeholder="Arist Name">
        </div>
    </form>
</body>
</html>