<html>
<head>
    <title>Create Event</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/jquery-ui/jquery-ui.min.css">

    <!-- JS -->
    <script src="/jquery/jquery.min.js"></script>
    <script src="/jquery-ui/jquery-ui.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/network.js"></script>

    <script>
        $(document).ready(function() {
            var timeoutId = null;
            var artistId = null;

            $("#submit").click(function() {
                var data = {
                    name: $("#name").val(),
                    description: $("#description").val()
                };

                createFestival(data).then(function(response) {
                    window.location.href = "/festival?id=" + response.data.createFestival.id;
                });
            });

            $("#artist").keyup(function(e) {
                if (timeoutId != null) {
                    window.clearTimeout(timeoutId);
                }

                timeoutId = window.setTimeout(function() {
                    var name = $("#artist").val();
                    timeoutId = null;

                    if (name.length < 3) {
                        $("#artistListContainer").hide("slow");
                        return;
                    }

                    artistSearch(name).then(function(response) {
                        var artists = response.data.artistSearch;
                        var artistList = $("#artistList");
                        
                        var html = "";
                        for (var i = 0; i < artists.length; i++) {
                            var artist = artists[i];
                            html += `<li artistId="${artist.id}" class="list-group-item">${artist.name}</li>`;
                        }
                        
                        artistList.html(html);

                        artistList.find("li").click(function() {
                            var artistId = $(this).attr("artistId");

                            getArtist(artistId).then(function(response) {
                                var artist = response.data.getArtist;
                                setArtist(artist);
                            });
                        });

                        $("#artistListContainer").show("slow");
                    });
                }, 300);
            });

            $("#artistFormSubmit").click(function() {
                var data = {
                    name: $("#artistFormName").val(),
                    description: $("#artistFormDesc").val()
                };

                createArtist(data).then(function(response) {
                    var artist = response.data.createArtist;

                    var modal = $("#artistModal");

                    modal.on('hidden.bs.modal', function() {
                        setArtist(artist);
                    });

                    modal.modal("hide");
                });
            });

            $("#createForm").submit(function(e) {
                e.preventDefault();

                if (artistId == null) {
                    alert("You have to choose an artist for the event!");
                    return;
                }

                var date = $("#eventDate").val();
                var time = $("#eventTime").val();
                var datetime = date + " " + time + ":00";

                var data = {
                    festivalId: <%= festivalId %>,
                    artistId: artistId,
                    description: $("#eventDesc").val(),
                    event_time: datetime
                };

                createEvent(data).then(function(response) {
                    var artist = response.data.createEvent;
                    
                    window.location.href = "/festival?id=<%= festivalId %>";
                });
            });

            function setArtist({id, name, description}) {
                artistId = id;

                $("#artist").val(name);
                $("#artistListContainer").hide("fast");
            }

            $("#datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                altField: "#eventDate",
                altFormat: "yy-mm-dd"
            });

            $("#datepicker").datepicker("option", "showAnim", "slideDown");
        });
    </script>

    <style>
        body {
            padding: 10px;
        }
        #title {
            margin-bottom: 50px;
        }
        .form-group {
            margin-bottom: 30px;
        }
        #artistListContainer {

        }
        #artistList {
            max-height: 164px;
            overflow-y: auto;
            box-shadow: 5px 5px 5px #ccc;
            background: white;
        }
        .list-group-item {
            cursor: pointer;
        }
        .link {
            cursor: pointer;
            color: #3399ff;
        }
        .link:hover {
            opacity: 0.5;
        }
        #artistContainer {
            background: #fefefe;
            box-shadow: 0 0 10px #ccc;
            padding: 15px 30px;
        }
    </style>
</head>
<body>
    <h1 id="title" class="text-center">Create Event</h1>

    <form id="createForm" class="col-xs-12 col-md-6 col-md-offset-3" method="POST">
        <div class="form-group col-md-8 col-md-offset-2">
            <p class="link text-center" role="button" data-toggle="modal" data-target="#artistModal">Can't find your artist? Click here to add their information</p>
            <input id="artist" name="artist" type="text" class="form-control" placeholder="Arist Name" autocomplete="off" required> 
            <div id="artistListContainer" hidden>
                <ul id="artistList" class="list-group">
                </ul>
            </div>
        </div>

        <div class="form-group">
            <textarea id="eventDesc" class="form-control" placeholder="Description" rows="10"></textarea>
        </div>

        <div class="form-group col-xs-12 col-md-6">
            <input id="datepicker" type="text" class="form-control" required>
            <input id="eventDate" type="hidden" class="form-control">
        </div>

        <div class="form-group col-xs-12 col-md-6">
            <input id="eventTime" type="time" class="form-control" required>
        </div>

        <div class="form-group col-md-6 col-md-offset-3">
            <button id="createEvent" type="submit" class="btn btn-primary btn-lg btn-block">Save</button>
        </div>
    </form>

    <!-- Artist form modal -->
    <div class="modal fade" id="artistModal" tabindex="-1" role="dialog" aria-labelledby="artistModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="artistModalLabel">Add a new artist</h4>
                </div>
                <div class="modal-body">
                    <form id="artistForm">
                        <div class="form-group">
                            <input id="artistFormName" type="text" class="form-control" placeholder="Name">
                        </div>

                        <div class="form-group">
                            <textarea id="artistFormDesc" class="form-control" placeholder="Description" rows="6"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="artistFormSubmit" type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>