<html>
<head>
    <title>RootsNBlues</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/network.js"></script>

    <script>
        $(document).ready(function() {
            getFestival(<%= festivalId %>).then(function(response) {
                var festival = response.data.getFestival;
                if (!festival) {
                    window.location.href = "/";
                    return;
                }

                $("#title").html(festival.name);
                $("#header").show();

                var events = festival.events;

                for (var i = 0; i < events.length; i++) {
                    var cardUrl = "/views/event_card?event=" + JSON.stringify(events[i]);

                    $.get(cardUrl).then(function(response) {
                        $("#content").append(response);
                    });
                }
            });

            $("#delete").click(function() {
                deleteFestival(<%= festivalId %>).then(function(response) {
                    console.log(response);

                    if (response.data.deleteFestival) {
                        window.location.href = "/";
                    }
                });
            });

            $("#createEvent").click(function() {
                window.location.href = "/event/create";
            });
        });
    </script>

    <style>
        body {
            padding: 10px;
        }
    </style>
</head>
<body>
    <div id="header" hidden>
        <h1><span id="title"></span> <button id="delete" type="button" class="btn btn-danger">Delete</button></h1>

        <button id="createEvent" type="button" class="btn btn-primary">New Event</button>
    </div>

    <div id="content">
    </div>
</body>
</html>