<html>
<head>
    <title>RootsNBlues</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/network.js"></script>

    <script>
        $(document).ready(function() {
            getFestival(<%= festivalId %>).then(function(response) {
                var festival = response.data.getFestival;
                var events = festival.events;

                for (var i = 0; i < events.length; i++) {
                    var cardUrl = "/views/event_card?event=" + JSON.stringify(events[i]);

                    $.get(cardUrl).then(function(response) {
                        $("#content").append(response);
                    });
                }
            });

            $("#delete").click(function() {
                deleteFestival(<%= festivalId %>).then(function(response) {
                    console.log(response);

                    if (response.data.deleteFestival) {
                        window.location.href = "/";
                    }
                });
            });
        });
    </script>

    <style>
        body {
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1>GraphQL Demo <button id="delete" type="button" class="btn btn-danger">Delete</button></h1>

    <div id="content">
    </div>
</body>
</html>