<html>
<head>
    <title>Music Festivals</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/network.js"></script>

    <script>
        $(document).ready(function() {
            listFestivals().then(function(response) {
                var festivals = response.data.listFestivals;

                for (var i = 0; i < festivals.length; i++) {
                    var cardUrl = "/views/festival_card?festival=" + JSON.stringify(festivals[i]);

                    $.get(cardUrl).then(function(response) {
                        $("#content").append(response);
                    });
                }
            });
        });
    </script>

    <style>
        body {
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1>Music Festivals</h1>

    <div id="content">
    </div>
</body>
</html>