<html>
<head>
    <title>Music Festivals</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

    <!-- JS -->
    <script src="/jquery/jquery.min.js"></script>
    <script src="/js/network.js"></script>

    <script>
        $(document).ready(function() {

            //List festivals async
            listFestivals().then(function(response) {
                var festivals = response.data.listFestivals;

                //Show list of festival cards
                for (var i = 0; i < festivals.length; i++) {
                    var cardUrl = "/views/festival_card?festival=" + JSON.stringify(festivals[i]);

                    $.get(cardUrl).then(function(response) {
                        $("#content").append(response);
                    });
                }
            });

            //Create festival click listener
            $("#create").click(function() {
                window.location.href = "/festival/create/";
            });
        });
    </script>

    <style>
        body {
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1>Music Festivals <button id="create" type="button" class="btn btn-primary">Create</button></h1>

    <div id="content">
    </div>
</body>
</html>